<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Контакты</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body class="body">
	<div class="body__wrapper" style="background-image: url('img/bg-pattern.svg');">
		@@include("../../blocks/modules/header/header.html")
		<div class="content">
			<div class="container content__container">
				<section class="news">
					@@include("../../blocks/modules/breadcrumbs/breadcrumbs.html")
					<h3 class="news__title">
						Контакты
					</h3>
					<div class="contacts">
						<div class="contacts__columns">
							<div class="contacts__column contacts__column--1">
								<div class="contacts__section">
									<p class="contacts__title">
										Главный офис
									</p>
									<p>236010, Россия, г. Калининград, ул. Цирковая, 2</p>
									<p><strong>Тел.:</strong><a href="tel:+74012331844">+7 (4012) 33 18 44</a>, <a href="tel:+74012332263">33 22 63</a></p>
									<p><strong>Факс.:</strong> +7 (4012) 33 15 30</p>
									<p><strong>E-mail:</strong> <a href="mailto:office@fertrans.ru">office@fertrans.ru</a> </p>
								</div>
							</div>
							<div class="contacts__column contacts__column--2">
								<div class="contacts__section">
									<p class="contacts__title">
										Main office
									</p>
									<p>2, Tsirkovaya str., Kaliningrad, Russia, 236010</p>
									<p><strong>Тел.:</strong><a href="tel:+74012331844">+7 (4012) 33 18 44</a>, <a href="tel:+74012332263">33 22 63</a></p>
									<p><strong>Факс.:</strong> +7 (4012) 33 15 30 </p>
									<p><strong>E-mail:</strong> <a href="mailto:office@fertrans.ru">office@fertrans.ru</a> </p>
								</div>
							</div>
							<div class="contacts__column contacts__column--3">
								<div class="contacts__section">
									<p class="contacts__title">
										Режим работы
									</p>
									<p><strong>ПН:</strong> 08:00 – 17:00</p>
									<p><strong>ВТ:</strong> 08:00 – 17:00</p>
									<p><strong>СР:</strong> 08:00 – 17:00</p>
									<p><strong>ЧТ:</strong> 08:00 – 17:00</p>
									<p><strong>ПТ:</strong> 08:00 – 17:00</p>
									<p><strong>СБ:</strong> выходной</p>
									<p><strong>ВС:</strong> выходной</p>
									<p><i>обед 12:00 – 13:00</i></p>
								</div>
							</div>
						</div>
						<div class="contacts__map">
							<div class="contacts__map-content">
								<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa33a34653cad1fdab67e6ffd9f3a58facf71dedde1882aeb1f76c5a3742452e0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
							</div>
						</div>
						<div class="contacts__block">
							<div class="contacts__block-column contacts__column contacts__block-column--left">
								<div class="contacts__section">
									<p class="contacts__title">
										По вопросам продажи <br> минеральных удобрений
									</p>
									<p><b>Денисов Вадим Юрьевич</b></p>
									<p><strong>Тел.:</strong><a href="tel:+74012332885">+7 (4012) 33 28 85</a></p>
									<p><strong>Тел.:</strong><a href="tel:+79062388075">+7 (906) 238 80 75</a></p>
									<p><strong>E-mail:</strong> <a href="mailto:sales@fertrans.ru">sales@fertrans.ru</a> </p>
								</div>
								<div class="contacts__section">
									<p class="contacts__title">
										По вопросам аренды <br> подвижного состава
									</p>
									<p><b>Оплачко Ольга Викторовна</b></p>
									<p><strong>Тел.:</strong><a href="tel:+74012331844">+7 (4012) 33 18 44</a></p>
									<p><strong>Тел.:</strong><a href="tel:+79062339544">+7 (906) 233 95 44</a></p>
									<p><strong>E-mail:</strong> <a href="mailto:oplachko@fertrans.ru">oplachko@fertrans.ru</a> </p>
								</div>
								<div class="contacts__section">
									<p class="contacts__title">
										По вопросам экспедирования <br> грузов
									</p>
									<p><b>Казанцев Андрей Владимирович</b></p>
									<p><strong>Тел.:</strong><a href="tel:+74012330268">+7 (4012) 33 02 68</a></p>
									<p><strong>Тел.:</strong><a href="tel:+79062385334">+7 (906) 238 53 34</a></p>
									<p><strong>E-mail:</strong> <a href="mailto:kazantsev@fertrans.ru">kazantsev@fertrans.ru</a> </p>
								</div>
							</div>
							<div class="contacts__block-column contacts__block-column--right">
								<picture class="info__ill"><source type="image/webp" srcset="img/ill-8.webp"><source type="image/jpeg" srcset="img/ill-8.jpg"><img src="img/ill-8.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<div class="contacts__columns contacts__columns--bottom">
							<div class="contacts__column contacts__column--1">
								<div class="contacts__section">
									<p class="contacts__title">
										Московский филиал
									</p>
									<p>107045, Россия, г. Москва, <br> пер. Последний, д. 6, кор. 1</p>
									<p><strong>Тел.:</strong><a href="tel:+74957305985">+7 (495) 730 59 85</a></p>
									<p><strong>Тел./факс.:</strong><a href="tel:+74957305986">+7 (495) 730 59 86</a></p>
									<p><strong>E-mail:</strong> <a href="mailto:fertrans-moscow@mail.ru">fertrans-moscow@mail.ru</a> </p>
								</div>
							</div>
							<div class="contacts__column contacts__column--2">
								<div class="contacts__section">
									<p class="contacts__title">
										Moscow branch office
									</p>
									<p>6, Posledniy Pereulok, housing 1 <br> Russia, Moscow, 107045</p>
									<p><strong>Тел.:</strong><a href="tel:+74957305985">+7 (495) 730 59 85</a></p>
									<p><strong>Тел./факс.:</strong><a href="tel:+74957305986">+7 (495) 730 59 86</a></p>
									<p><strong>E-mail:</strong> <a href="mailto:fertrans-moscow@mail.ru">fertrans-moscow@mail.ru</a> </p>
								</div>
							</div>
							<div class="contacts__column contacts__column--3">
								<div class="contacts__section">
									<p class="contacts__title">
										Режим работы
									</p>
									<p><strong>ПН:</strong> 08:00 – 17:00</p>
									<p><strong>ВТ:</strong> 08:00 – 17:00</p>
									<p><strong>СР:</strong> 08:00 – 17:00</p>
									<p><strong>ЧТ:</strong> 08:00 – 17:00</p>
									<p><strong>ПТ:</strong> 08:00 – 17:00</p>
									<p><strong>СБ:</strong> выходной</p>
									<p><strong>ВС:</strong> выходной</p>
									<p><i>обед 12:00 – 13:00</i></p>
								</div>
							</div>
						</div>
						<a href="#" target="_blank" class="contacts__document">
							<svg class="icon-svg">
								<use xlink:href="./img/sprites/sprite.svg#doc"></use>
							</svg>
							<span>Скачать реквизиты</span>
						</a>
					</div>
				</section>
			</div>
		</div>
	</div>
	@@include("../../blocks/modules/footer/footer.html")
</body>
</html>