<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Новости</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body class="body">
	<div class="body__wrapper" style="background-image: url('img/bg-pattern.svg');">
		@@include("../../blocks/modules/header/header.html")
		<div class="content">
			<div class="container content__container">
				<section class="news">
					@@include("../../blocks/modules/breadcrumbs/breadcrumbs.html")
					<h3 class="news__title">
						Новости компании
					</h3>
					<div class="news__articles">
						<div class="article">
							<div class="article__content">
								<time class="article__time">
									<strong>22/02</strong>/2019
								</time>
								<p class="article__title">
									Доклад представителей ООО “Фер-Транс” и ПАО “КуйбышевАзот”
								</p>
								<p class="article__text">
									Представители ООО «Фер-Транс» и ПАО «КуйбышевАзот» выступили с докладом на очередном ежемесячном заседании Калининградского Зернового Клуба. Это произошло впервые за 10-летнюю историю существования этой общественной организации. В дальнейшем представители «Фер-Транс» планируют участвовать во всех последующих заседаниях Клуба.
								</p>
								<a href="post.html" class="article__link">
									Читать далее
								</a>
							</div>
							<div class="article__thumb">
								<picture ><source type="image/webp" srcset="img/f-article.webp"><source type="image/jpeg" srcset="img/f-article.jpg"><img src="img/f-article.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<div class="article">
							<div class="article__content">
								<time class="article__time">
									<strong>15/05</strong>/2019
								</time>
								<p class="article__title">
									Очередное официальное письмо
								</p>
								<p class="article__text">
									В очередной раз коммерческим директором ПАО «КуйбышевАзот» Былининым А.Н. было подписано официальное письмо для всех заинтересованных лиц о том, что ООО «Фер-Транс» является генеральным экспедитором и официальным представителем по продаже минеральных удобрений на внутренний рынок Калининградской области.
								</p>
								<a href="post.html" class="article__link">
									Читать далее
								</a>
							</div>
							<div class="article__thumb">
								<picture ><source type="image/webp" srcset="img/f-article2.webp"><source type="image/jpeg" srcset="img/f-article2.jpg"><img src="img/f-article2.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<div class="article">
							<div class="article__content">
								<time class="article__time">
									<strong>14/06</strong>/2019
								</time>
								<p class="article__title">
									Соглашение о сотрудничестве
								</p>
								<p class="article__text">
									Далеко не первый год подряд между Министерством сельского хозяйства Калининградской области и ООО «Фер-Транс» заключается соглашение о сотрудничестве. Этот год не стал исключением. Данное соглашение обеспечивает коммуникацию с представителями региональной власти, помогая поставлять фермерским хозяйствам области...
								</p>
								<a href="post.html" class="article__link">
									Читать далее
								</a>
							</div>
							<div class="article__thumb">
								<picture ><source type="image/webp" srcset="img/f-article3.webp"><source type="image/jpeg" srcset="img/f-article3.jpg"><img src="img/f-article3.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<div class="article">
							<div class="article__content">
								<time class="article__time">
									<strong>15/05</strong>/2019
								</time>
								<p class="article__title">
									Фестиваль сельского хозяйства “День балтийского поля”
								</p>
								<p class="article__text">
									В последние выходные месяца прошёл уже ставший традиционным фестиваль сельского хозяйства «День Балтийского Поля». В этом году ежегодный праздник состоялся в 3й раз. Площадкой для проведения мероприятия было выбрано поле недалеко от посёлка Талпаки.
								</p>
								<a href="post.html" class="article__link">
									Читать далее
								</a>
							</div>
							<div class="article__thumb">
								<picture ><source type="image/webp" srcset="img/f-article4.webp"><source type="image/jpeg" srcset="img/f-article4.jpg"><img src="img/f-article4.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
					</div>
					@@include("../../blocks/modules/pagination/pagination.html")
				</section>
			</div>
		</div>
	</div>
	@@include("../../blocks/modules/footer/footer.html")
</body>
</html>