<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Аренда подвижного состава</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body class="body">
	<div class="body__wrapper" style="background-image: url('img/bg-pattern.svg');">
		@@include("../../blocks/modules/header/header.html")
		<div class="content">
			<div class="container content__container">
				<section class="post">
					@@include("../../blocks/modules/breadcrumbs/breadcrumbs.html")
					<h3 class="post__title">
						Аренда подвижного состава
					</h3>
					<div class="post__content">
						<div class="post__columns">
							<div class="post__column">
								<p class="post__text post__text--normal">
									На данный сезон между Фер-Транс и КуйбышевАзот достигнута договоренность о поставке определенного объема удобрений в период межсезонья с размещением его на площадках области. В связи с чем, готовы принимать от Вас предзаказы на поставку продукции в необходимом объеме и ассортименте для проведения сезонных полевых работ. В коммерческом предложении указаны все контактные данные, прошу направлять Ваши запросы, будем совместно заранее начинать готовиться к посевному сезону. Мы предлагаем гибкие условия сотрудничества, которые позволяют легко регулировать объемы заказов в зависимости от ваших потребностей, обсуждать условия оплаты.
								</p>
								<div class="post__accent">
									<div class="post__accent-ill post__accent-ill--full"></div>
									<p class="post__accent-text post__accent-text--bottom">
										ООО «Фер-Транс» уже более 19-ти лет выступает в качестве Генерального экспедитора ПАО «КуйбышевАзот» - одного из крупнейших производителей химической продукции в России, а также является их официальным партнером по реализации минеральных удобрений на территории Калининградской области.
										<br>
										<br>
										<br>
									</p>
								</div>
							</div>
							<div class="post__column">
								<picture><source type="image/webp" srcset="img/f-article.webp"><source type="image/jpeg" srcset="img/f-article.jpg"><img src="img/f-article.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<div class="post__columns">
							<div class="post__column">
								<picture><source type="image/webp" srcset="img/ill-3.webp"><source type="image/jpeg" srcset="img/ill-3.jpg"><img src="img/ill-3.jpg" alt="Иллюстрация">
								</picture>
							</div>
							<div class="post__column">
								<p class="post__text post__text--normal">
									На данный сезон между Фер-Транс и КуйбышевАзот достигнута договоренность о поставке определенного объема удобрений в период межсезонья с размещением его на площадках области. В связи с чем, готовы принимать от Вас предзаказы на поставку продукции в необходимом объеме и ассортименте для проведения сезонных полевых работ. В коммерческом предложении указаны все контактные данные, прошу направлять Ваши запросы, будем совместно заранее начинать готовиться к посевному сезону. Мы предлагаем гибкие условия сотрудничества, которые позволяют легко регулировать объемы заказов в зависимости от ваших потребностей, обсуждать условия оплаты.
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	@@include("../../blocks/modules/footer/footer.html")
</body>
</html>