<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Продажа минеральных удобрений</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body class="body">
	<div class="body__wrapper" style="background-image: url('img/bg-pattern.svg');">
		@@include("../../blocks/modules/header/header.html")
		<div class="content">
			<div class="container content__container">
				<section class="post">
					@@include("../../blocks/modules/breadcrumbs/breadcrumbs.html")
					<h3 class="post__title">
						Продажа минеральных удобрений
					</h3>
					<div class="post__content">
						<p class="post__text post__text--normal">
							В связи с положительной тенденцией развития агропромышленного комплекса нашей области, увеличением посевных площадей и урожайности зерновых, зернобобовых и иных культур «Фер-Транс» наращивает объемы поставки азотных минеральных удобрений для местных сельскохозпроизводителей. Повышение стоимости затрат на доставку груза, в свою очередь влияет на стоимость реализации продукции для сельхозпроизводителей области.
						</p>
						<p class="post__text post__text--strong">
							Компания «Фер-Транс», как официальный партнер «КуйбышевАзот», в целях снижения затрат, имея многолетний опыт экспедирования грузов железнодорожным транспортом.
						</p>
						<div class="post__tiles">
							<article class="post__tile post__tile--blue">
								<div class="post__tile-icon">
									<svg class="icon-svg">
										<use xlink:href="./img/sprites/sprite.svg#icon-like"></use>
									</svg>
								</div>
								постоянно прорабатывает оптимальные логистические схемы, привлекая для перевозки железнодорожный подвижной состав по минимальным ценам
							</article>
							<article class="post__tile post__tile--blue">
								<div class="post__tile-icon">
									<svg class="icon-svg">
										<use xlink:href="./img/sprites/sprite.svg#icon-like"></use>
									</svg>
								</div>
								оплачивает ж/д тарифы самостоятельно без экспедиторской комиссии
							</article>
						</div>
						<p class="post__text post__text--strong">
							Поэтому Вы получаете оптимальную стоимость минеральных удобрений на рынке Калининградской области.
						</p>
						<p class="post__text post__text--normal">
							На сегодняшний день для удобства покупателей мы осуществляем отгрузку минеральных удобрений с площадки в г. Черняховске, а так же осуществляем поставку удобрений вагонами на удобную покупателю железнодорожную станцию, при наличии технической возможности выгрузки на ней. Прорабатываем возможность строительства или покупки на территории Калининградской области производственной базы для перевалки, фасовки, хранения и продажи минеральных удобрений – это ближайшая перспектива.
						</p>
						<div class="post__columns">
							<div class="post__column">
								<h3 class="post__h">
									Посевный сезон <br> осень 2019 - весна 2020 гг.
								</h3>
								<p class="post__text post__text--normal">
									На данный сезон между Фер-Транс и КуйбышевАзот достигнута договоренность о поставке определенного объема удобрений в период межсезонья с размещением его на площадках области. В связи с чем, готовы принимать от Вас предзаказы на поставку продукции в необходимом объеме и ассортименте для проведения сезонных полевых работ. В коммерческом предложении указаны все контактные данные, прошу направлять Ваши запросы, будем совместно заранее начинать готовиться к посевному сезону. Мы предлагаем гибкие условия сотрудничества, которые позволяют легко регулировать объемы заказов в зависимости от ваших потребностей, обсуждать условия оплаты.
								</p>
							</div>
							<div class="post__column">
								<picture><source type="image/webp" srcset="img/ill-1.webp"><source type="image/jpeg" srcset="img/ill-1.jpg"><img src="img/ill-1.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<h3 class="post__title">
							Основные плюсы работы с нами:
						</h3>
						<div class="pluses">
							<table class="pluses__left">
								<tbody>
									<tr>
										<td class="pluses__td-first">
											<p class="pluses__number">
												1
											</p>
											Мы работаем напрямую с производителем «КуйбышевАзот» и являемся дистрибьютором.
											<svg class="icon-svg plus plus--top-right">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
											<svg class="icon-svg plus plus--top-left">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
										</td>
										<td>
											<p class="pluses__number">
												2
											</p>
											Мы работаем только с качественным продуктом соответствующим ГОСТу.
											<svg class="icon-svg plus plus--bottom-right">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
										</td>
									</tr>
									<tr>
										<td>
											<p class="pluses__number">
												3
											</p>
											Имеем арендованный и привлеченный подвижной состав, что влияет на снижение стоимости и на контроль сроков поставок.
											<svg class="icon-svg plus plus--top-right">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
											<svg class="icon-svg plus plus--top-left">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
										</td>
										<td>
											<p class="pluses__number">
												4
											</p>
											Постоянно анализируя конъюнктуру рынка, поддерживаем конкурентные цены.
										</td>
									</tr>
									<tr>
										<td>
											<p class="pluses__number">
												5
											</p>
											Умеем создавать лучшие условия сотрудничества, обсуждая индивидуальные объемы поставки и условия оплаты.
											<svg class="icon-svg plus plus--top-right">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
											<svg class="icon-svg plus plus--top-left">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
											<svg class="icon-svg plus plus--bottom-right">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
											<svg class="icon-svg plus plus--bottom-left">
												<use xlink:href="./img/sprites/sprite.svg#plus"></use>
											</svg>
										</td>
									</tr>


								</tbody>
							</table>

							<div class="pluses__right">
								<picture><source type="image/webp" srcset="img/ill-2.webp"><source type="image/jpeg" srcset="img/ill-2.jpg"><img src="img/ill-2.jpg" alt="Иллюстрация">
								</picture>
								<svg class="icon-svg plus plus--top-right">
									<use xlink:href="./img/sprites/sprite.svg#plus"></use>
								</svg>
								<svg class="icon-svg plus plus--top-left">
									<use xlink:href="./img/sprites/sprite.svg#plus"></use>
								</svg>
								<svg class="icon-svg plus plus--bottom-right">
									<use xlink:href="./img/sprites/sprite.svg#plus"></use>
								</svg>
								<svg class="icon-svg plus plus--bottom-left">
									<use xlink:href="./img/sprites/sprite.svg#plus"></use>
								</svg>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="content--accent">
			Желаем Вам в этом посевном сезоне благоприятной погоды, благодатной почвы, высоких урожаев и достойной прибыли!
		</div>
		<div class="content content--bottom">
			<div class="container content__container">
				<p class="post__text post__text--strong">
					Поэтому Вы получаете оптимальную стоимость минеральных удобрений на рынке Калининградской области.
				</p>
				<div class="post__table-wrapper">
					<table class="post__table">
						<tbody>
							<tr class="tr-head">
								<td class="td td--left">Продукция</td>
								<td class="td">Состав</td>
								<td class="td">Вес биг-<br> бега,тн</td>
								<td class="td">Цена в руб. за тн<br> (включая НДС 20%)</td>
								<td class="td">Период поставки</td>
							</tr>
							<tr class="tr-content">
								<td class="td td--left">
									Карбамид
								</td>
								<td class="td">
									N 46,2
								</td>
								<td class="td">
									0,90
								</td>
								<td class="td">
									23 200
								</td>
								<td class="td">
									сентябрь 2019г.
								</td>
							</tr>
							<tr class="tr-content">
								<td class="td td--left">
									Карбамид
								</td>
								<td class="td">
									N 46,2
								</td>
								<td class="td">
									0,90
								</td>
								<td class="td">
									23 200
								</td>
								<td class="td">
									сентябрь 2019г.
								</td>
							</tr>
							<tr class="tr-content">
								<td class="td td--left">
									Карбамид
								</td>
								<td class="td">
									N 46,2
								</td>
								<td class="td">
									0,90
								</td>
								<td class="td">
									23 200
								</td>
								<td class="td">
									сентябрь 2019г.
								</td>
							</tr>
							<tr class="tr-content">
								<td class="td td--left">
									Карбамид
								</td>
								<td class="td">
									N 46,2
								</td>
								<td class="td">
									0,90
								</td>
								<td class="td">
									23 200
								</td>
								<td class="td">
									сентябрь 2019г.
								</td>
							</tr>
							<tr class="tr-content">
								<td class="td td--left">
									Карбамид
								</td>
								<td class="td">
									N 46,2
								</td>
								<td class="td">
									0,90
								</td>
								<td class="td">
									23 200
								</td>
								<td class="td">
									сентябрь 2019г.
								</td>
							</tr>
							<tr class="tr-content">
								<td class="td td--left">
									Карбамид
								</td>
								<td class="td">
									N 46,2
								</td>
								<td class="td">
									0,90
								</td>
								<td class="td">
									23 200
								</td>
								<td class="td">
									сентябрь 2019г.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	@@include("../../blocks/modules/footer/footer.html")
</body>
</html>