<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Экспедиторская деятельность</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body class="body">
	<div class="body__wrapper" style="background-image: url('img/bg-pattern.svg');">
		@@include("../../blocks/modules/header/header.html")
		<div class="content">
			<div class="container content__container">
				<section class="post">
					@@include("../../blocks/modules/breadcrumbs/breadcrumbs.html")
					<h3 class="post__title">
						Продажа минеральных удобрений
					</h3>
					<div class="post__content">
						<p class="post__text post__text--normal">
							С момента образования в 2000 году до настоящего времени наша компания приобрела значительный опыт в организации перевозок грузов.
						</p>
						<p class="post__text post__text--strong">
							На сегодняшний день ООО «Фер-Транс»
						</p>
						<div class="post__tiles">
							<div class="post__tiles-column">
								<article class="post__tile post__tile--green">
									<div class="post__tile-icon">
										<svg class="icon-svg">
											<use xlink:href="./img/sprites/sprite.svg#icon-like"></use>
										</svg>
									</div>
									является компанией-оператором на железнодорожном транспорте
								</article>
								<article class="post__tile post__tile--green">
									<div class="post__tile-icon">
										<svg class="icon-svg">
											<use xlink:href="./img/sprites/sprite.svg#icon-like"></use>
										</svg>
									</div>
									осуществляет транспортное экспедирование по территории СНГ и Прибалтики, участвует в контейнерных перевозках в страны Южной Америки и Юго-Восточной Азии
								</article>
							</div>
							<div class="post__tiles-column">
								<article class="post__tile post__tile--green">
									<div class="post__tile-icon">
										<svg class="icon-svg">
											<use xlink:href="./img/sprites/sprite.svg#icon-like"></use>
										</svg>
									</div>
									имеет единый лицевой счет для оплаты провозных платежей во внутрироссийских, транзитных и экспортно-импортных перевозках
								</article>
								<article class="post__tile post__tile--green">
									<div class="post__tile-icon">
										<svg class="icon-svg">
											<use xlink:href="./img/sprites/sprite.svg#icon-like"></use>
										</svg>
									</div>
									организует перевалку грузов в ключевых портах Балтийского и Черного морей
									<br>
									<br>
								</article>
							</div>
						</div>
						<div class="post__accent">
							<div class="post__accent-ill post__accent-ill--400"></div>
							<p class="post__accent-text">
								ООО «Фер-Транс» уже более 19-ти лет выступает в качестве Генерального экспедитора ПАО «КуйбышевАзот» - одного из крупнейших производителей химической продукции в России, а также является их официальным партнером по реализации минеральных удобрений на территории Калининградской области.
							</p>
							<div class="post__columns">
								<div class="post__column">
									<picture><source type="image/webp" srcset="img/ill-5.webp"><source type="image/jpeg" srcset="img/ill-5.jpg"><img src="img/ill-5.jpg" alt="Иллюстрация"></picture>
								</div>
								<div class="post__column">
									<picture><source type="image/webp" srcset="img/ill-6.webp"><source type="image/jpeg" srcset="img/ill-6.jpg"><img src="img/ill-6.jpg" alt="Иллюстрация"></picture>
								</div>
							</div>
						</div>
						<p class="post__text post__text--normal">
							ООО «Фер-Транс» - постоянный участник транспортно-логистических выставок, форумов и круглых столов. Участие в различных мероприятиях позволяет наладить необходимые связи, обмениваться накопленным опытом, перенимать передовые технологии и идти в ногу со временем.
						</p>
						<div class="post__columns">
							<div class="post__column post__column--7">
								<picture><source type="image/webp" srcset="img/ill-7.webp"><source type="image/jpeg" srcset="img/ill-7.jpg"><img src="img/ill-7.jpg" alt="Иллюстрация">
								</picture>
							</div>
							<div class="post__column post__column--5">
								<p class="post__text post__text--normal">
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
									Коллектив компании состоит из профессионалов, фанатов своего дела. Костяк составляют сотрудники, отдающие себя на благо компании уже более 10-15 лет.
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	@@include("../../blocks/modules/footer/footer.html")
</body>
</html>