<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Фер-Транс</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
	<link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
	<link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
	<link rel="stylesheet" href="../styles/main.css">
</head>
<body class="body">
	<div class="body__wrapper" style="background-image: url('img/bg-pattern.svg');">
		<section class="intro">
			<div class="container intro__topline">
				<div class="intro__logo-wrapper">
					<div class="intro__logo">
						<svg class="icon-svg intro__logo-icon">
							<use xlink:href="./img/sprites/sprite.svg#logo-white"></use>
						</svg>
					</div>
				</div>
				<a href="tel:+74012331844" class="intro__link">
					<svg class="icon-svg">
						<use xlink:href="./img/sprites/sprite.svg#icon-phone"></use>
					</svg>
					<span>+7 (4012) 33 18 44</span>
				</a>
				<a href="tel:+74012332263" class="intro__link">
					<svg class="icon-svg">
						<use xlink:href="./img/sprites/sprite.svg#icon-phone"></use>
					</svg>
					<span>+7 (4012) 33 22 63</span>
				</a>
			</div>
			<div class="container intro__content">
				<div class="intro__left">
					<h2 class="intro__title">
						<p class="intro__title--top">
							20 лет работы
						</p>
						<p class="intro__title--bottom">
							в сфере транспортного экспедирования
						</p>
					</h2>
				</div>
				<div class="intro__right">
					<ul>
						<li>
							экспедиторская деятельность
						</li>
						<li>
							аренда ж/д состава
						</li>
						<li>
							продажа минеральных удобрений
						</li>
					</ul>
				</div>
			</div>
		</section>
		@@include("../blocks/modules/header/header.html")
		<div class="content">
			<div class="container content__container">
				<section class="info">
					<div class="info__column info__column--left">
						<h2 class="info__title">
							Работаем практически во всех центральных портах России, СНГ и Прибалтики.
						</h2>
						<div class="info__fact">
							<div class="info__fact-item">
								<strong>55</strong> ед.
							</div>
							<p class="info__fact-title">
								собственного<br> подвижного состава
							</p>
						</div>
						<div class="info__fact">
							<div class="info__fact-item">
								><strong>200</strong> ед.
							</div>
							<p class="info__fact-title">
								арендованных<br> минераловозов
							</p>
						</div>
						<div class="info__fact">
							<div class="info__fact-item">
								><strong>600</strong> ед.
							</div>
							<p class="info__fact-title">
								минераловозов <br>дополнительно <br> привлекаем для перевозки
							</p>
						</div>
					</div>
					<div class="info__column info__column--right">
						<picture class="info__ill"><source type="image/webp" srcset="img/f-info.webp"><source type="image/jpeg" srcset="img/f-info.jpg"><img src="img/f-info.jpg" alt="Иллюстрация">
						</picture>
					</div>
				</section>
				<section class="facts">
					<div class="facts__columns">
						<picture class="facts__left"><source type="image/webp" srcset="img/f-ill.webp"><source type="image/jpeg" srcset="img/f-ill.jpg"><img src="img/f-ill.jpg" alt="Иллюстрация">
						</picture>
						<div class="facts__right">
							<h2 class="facts__title">
								Мы перевозим ЖД транспортом:
							</h2>
							<div class="facts__grid">
								<div class="facts__grid-column facts__grid-column--left">
									<div class="facts__grid-cell">
										аммиачная селитра
									</div>
									<div class="facts__grid-cell">
										аммиачная вода
									</div>
									<div class="facts__grid-cell">
										бензол
									</div>
								</div>
								<div class="facts__grid-column facts__grid-column--right">
									<div class="facts__grid-cell">
										карбамидно-аммиачная смесь (КАС)
									</div>
									<div class="facts__grid-cell">
										сода кальцинированная
									</div>
									<div class="facts__grid-cell">
										циклогексан
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="partners">
					<div class="partners__left">
						<p class="partners__title">
							Мы являемся официальным дистрибьютором завода
						</p>
						<div class="partners__items">
							<a href="http://www.kuazot.ru/" target="_blank" class="partners__item">
								<picture><source type="image/webp" srcset="img/logo-1.webp"><source type="image/jpeg" srcset="img/logo-1.png"><img src="img/logo-1.png" alt="Иллюстрация">
								</picture>
							</a>
						</div>
					</div>
					<div class="partners__right">
						<p class="partners__title">
							а также готовы предложить  ассортимент заводов
						</p>
						<div class="partners__items">
							<a href="http://www.sds-azot.ru/en/" target="_blank" class="partners__item">
								<picture><source type="image/webp" srcset="img/logo-2.webp"><source type="image/jpeg" srcset="img/logo-2.png"><img src="img/logo-2.png" alt="Иллюстрация">
								</picture>
							</a>
							<a href="https://toaz.ru/" target="_blank" class="partners__item">
								<picture><source type="image/webp" srcset="img/logo-3.webp"><source type="image/jpeg" srcset="img/logo-3.png"><img src="img/logo-3.png" alt="Иллюстрация">
								</picture>
							</a>
							<a href="https://www.phosagro.ru/" target="_blank" class="partners__item">
								<picture><source type="image/webp" srcset="img/logo-4.webp"><source type="image/jpeg" srcset="img/logo-4.png"><img src="img/logo-4.png" alt="Иллюстрация">
								</picture>
							</a>
							<a href="https://www.granmax.lt/ru/" target="_blank" class="partners__item">
								<picture><source type="image/webp" srcset="img/logo-5.webp"><source type="image/jpeg" srcset="img/logo-5.png"><img src="img/logo-5.png" alt="Иллюстрация">
								</picture>
							</a>
							<a href="http://www.uralchem.ru/" target="_blank" class="partners__item">
								<picture><source type="image/webp" srcset="img/logo-6.webp"><source type="image/jpeg" srcset="img/logo-6.png"><img src="img/logo-6.png" alt="Иллюстрация">
								</picture>
							</a>
						</div>
					</div>
				</section>
				<section class="f-news">
					<h3 class="f-news__title">
						Новости компании
					</h3>
					<div class="f-news__articles">
						<div class="article">
							<div class="article__content">
								<time class="article__time">
									<strong>22/02</strong>/2019
								</time>
								<p class="article__title">
									Доклад представителей ООО “Фер-Транс” и ПАО “КуйбышевАзот”
								</p>
								<p class="article__text">
									Представители ООО «Фер-Транс» и ПАО «КуйбышевАзот» выступили с докладом на очередном ежемесячном заседании Калининградского Зернового Клуба. Это произошло впервые за 10-летнюю историю существования этой общественной организации. В дальнейшем представители «Фер-Транс» планируют участвовать во всех последующих заседаниях Клуба.
								</p>
								<a href="post.html" class="article__link">
									Читать далее
								</a>
							</div>
							<div class="article__thumb">
								<picture ><source type="image/webp" srcset="img/f-article.webp"><source type="image/jpeg" srcset="img/f-article.jpg"><img src="img/f-article.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
						<div class="article">
							<div class="article__content">
								<time class="article__time">
									<strong>22/02</strong>/2019
								</time>
								<p class="article__title">
									Доклад представителей ООО “Фер-Транс” и ПАО “КуйбышевАзот”
								</p>
								<p class="article__text">
									Представители ООО «Фер-Транс» и ПАО «КуйбышевАзот» выступили с докладом на очередном ежемесячном заседании Калининградского Зернового Клуба. Это произошло впервые за 10-летнюю историю существования этой общественной организации. В дальнейшем представители «Фер-Транс» планируют участвовать во всех последующих заседаниях Клуба.
								</p>
								<a href="post.html" class="article__link">
									Читать далее
								</a>
							</div>
							<div class="article__thumb">
								<picture ><source type="image/webp" srcset="img/f-article2.webp"><source type="image/jpeg" srcset="img/f-article2.jpg"><img src="img/f-article2.jpg" alt="Иллюстрация">
								</picture>
							</div>
						</div>
					</div>
					<div class="f-news__all">
						<a href="news.html" class="f-news__all-link">
							Все новости
						</a>
					</div>
				</section>
			</div>
		</div>
	</div>
	@@include("../blocks/modules/footer/footer.html")
</body>
</html>