.news {
	padding-top: 22px;
	padding-bottom: 63px;
	&__title {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 42px;
		font-weight: normal;
	}
	&__articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 10px;
		@include r(1200) {
			display: block;
		}
		.article {
			width: calc(50% - 10px);
			display: flex;
			flex-direction: column;
			@include r(1200) {
				width: 100%;
			}
		}
		.article__thumb {
			height: 382px;
			@include r(650) {
				height: auto;
			}
		}
		.article__right {
			order: -1;
			margin-bottom: 20px;
		}
	}
}